
.about-section {
  text-align: center; /* Center align the entire section */
  color: #ffffff;
}

.about-section h2 {
  padding-top: 5%;
  padding-left: 2%;
  font-size: 2.5em;
  color: #fd80cd;
  text-align: left;
}

.about-content {
  display: flex;
  align-items: center; 
  justify-content: center; 
  gap: 1rem; 
  margin-top: 5%;
  text-align: left; 
}

.carousel-container {
  flex: 1; 
  padding-left: 25%;
}

.about-content p {
  flex: 1; 
  font-size: 1.5em;
  color: #ffffff;
  padding-right: 15%;
  padding-bottom: 15%;
  margin-top: 10%;
  line-height: 3; 
}
